<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crowderia.mytoz">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".slide.service.LockScreenService">
            <intent-filter>
                <action android:name="com.crowderia.mytoz.service.startact" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </service>

        <receiver
            android:name=".slide.receiver.LockScreenReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_ON" />
                <!-- <action android:name="android.intent.action.SCREEN_OFF" /> -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>

            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/screen_lock_admin" />
        </receiver>

        <activity
            android:name=".activity.LockScreen"
            android:clearTaskOnLaunch="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:screenOrientation="sensorPortrait"
            android:showOnLockScreen="true"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activity.HomeScreen"
            android:clearTaskOnLaunch="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:label="@string/title_activity_home_screen"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AdOpenBrowserActivity"
            android:label="@string/title_activity_ad_open_browser"
            android:parentActivityName=".activity.HomeScreen"
            android:screenOrientation="portrait"
            android:taskAffinity=".activity.HomeScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.crowderia.mytoz.activity.HomeScreen" />
        </activity>
        <!--<activity
            android:name=".activity.ProfileScreen"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".activity.HomeScreen"
            android:screenOrientation="portrait"
            android:taskAffinity=".activity.HomeScreen"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.crowderia.mytoz.activity.HomeScreen" />
        </activity>-->

    </application>

</manifest>